.carousel {
	padding: 81px 0;
	&__inner {
		position: relative;
		width: 750px;
		margin: 0 auto;

	}

	.slick-dots {

		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 0 240px 0 240px;
		margin-top: 20px;
		li {
			font-size: 30px;
		}

		button {
			visibility: hidden;
		}
	}

	.prev, .next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: auto;
		border: none;
		background-color: rgba(78, 0, 0, 0);
		img {
			width: 31px;
			height: 50px;
		}
	}

	.next {
		right: 0;
		left: auto;
	}

	.tns-item {
		img {
			display: block;
			margin: 0 auto;
		}
	}

	.tns-nav {
		display: block;
		button {
			margin: 0 auto;
		}
	}
} 

