.reviews {
    padding: 80px 0 50px 0;
    &__title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: $second-color;
    }
    &-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 60px;
        img {
            width: 169px;
            height: 169px;
            margin-right: 60px;
        }
        &__name {
            font-weight: 700;
            font-size: 18px;
            color: $second-color;

        }
        &__descr {
            width: 680px;
            font-weight: 300;
            font-size: 16px;
            color: $second-color;
            margin-top: 10px;
            line-height: 24px;
        }
        &__info {
            font-weight: 500;
            font-size: 14px;
            color: #646464;
        }
    }
}